/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lightgray;
}

h1 {
    color: #40a8ce;
}

p {
    color: #d941a1;
    font-size: 20px;
    line-height: 1.5;
}

#intro {
    background-color: rgb(192, 220, 137);
}

.note {
    background-color: purple;
}